.contact.section {
  padding-bottom: 3.25rem;
}

.contact__container-info {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
  text-align: center;
}

.contact__container-card {
  padding: 1.875rem;
  background-color: #44d7b6;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin-top: 0.5rem;
}

.container__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.contact__container {
  margin-top: 0.75rem;
  margin-bottom: 6rem;
}

.info {
  grid-template-columns: 4fr 4fr;
  column-gap: 1.875rem;
  margin-left: 0.75rem;
}

.contact__method {
  color: #ff4c60;
  font-size: medium;
}

.contact {
  font-size: x-large;
}

.contact__note {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "thanks";
  color: #ff4c60;
  font-size: 3.5rem;
  font-style: italic;
  align: center;
  text-align: center;
}

.info__method {
  margin-top: 2rem;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  justify-content: center;
}

@font-face {
  font-family: thanks;
  src: url(LeonettaScript.woff);
}
